<div class="container">
<h1>Класс! 	&#127941;</h1>
<p class="text-block">
Задание выполнено! Отправляй ссылку на свой Replit в Moodle или просто покажи преподавателю как проходятся все шаги квеста.
</p>

</div>
