<div class="container">
<h1>Привет!</h1>
<p class="text-block">
Это первое задание RailsQuest.
</p>
<p class="text-block">
В этом задании мы разбираемся с контроллерами и представлениями.  
</p>
<p class="text-block">
У тебя есть кнопка, но она не работает.
</p>

<%= button_to 'Вот эта кнопка', '/step2', method: :get %>
<p class="text-block">
  Клик по кнопке выполняет GET-запрос на <code>/step2 </code>
Но приложение не знает, как связать этот URL с методом соответствующего контроллера. Нам нужно достучаться до метода <code>step2 </code> в классе <code>QuestController</code>.
</p>

  <p class="text-block">
    Найди нужный конфиг и впиши туда правильный route, чтобы кнопка заработала.
  </p>


</div>

