<div class="container">
<h1>Отлично!</h1>
<p class="text-block">
Теперь вместо кнопки форма.
</p>
<p class="text-block">
Она отправляет POST запрос на /step3 и передает значение, которое указано в поле ввода.
</p>

<%= form_tag('/step3') do -%>
   <div><%=text_field_tag 'answer'%></div>
  <div><%= submit_tag 'Отправить' %></div>
<% end -%>
  
  <p class="text-block">
Опять нужно указать правильный route. Но в этот раз придется заглянуть в метод контроллера, чтобы понять, какой ответ нужно ввести, чтобы пройти дальше.
  </p>


</div>

